meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(rel="apple-touch-icon", href="https://i.imgur.com/QRAUqs9.png")
link(rel="shortcut icon", href="https://i.imgur.com/QRAUqs9.png")
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css")
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css")
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css")
link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css")
link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css")
link(rel="stylesheet", href="stylesheets/assets/css/cs-skin-elastic.css")
link(rel="stylesheet", href="stylesheets/assets/css/style.css")
//  Left Panel 
aside#left-panel.left-panel
  nav.navbar.navbar-expand-sm.navbar-default
    #main-menu.main-menu.collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(href="/index")
            i.menu-icon.fa.fa-laptop
            | Dashboard 
        li
          a(href="/users")
            i.menu-icon.fa.fa-list
            | Add Menu
        li
          a(href="#")
            i.menu-icon.fa.fa-edit
            |  Update Menu
        li
          a(href="/users")
            i.menu-icon.fa.fa-users
            | Users
        li
          a(href="/reserve")
            i.menu-icon.fa.fa-building
            | Reservations
        li
          a(href="#")
            i.menu-icon.fa.fa-cutlery
            | Orders
        li
          a(href="widgets.html")
            i.menu-icon.ti-book
            | About Us 
#right-panel.right-panel
  //  Header
  header#header.header
    .top-left
      .navbar-header
        a.navbar-brand(href="./")
          h5 My Restaurant App
        a.navbar-brand.hidden(href="./")
          
        a#menuToggle.menutoggle
          i.fa.fa-bars
    .top-right
      .header-menu
        .header-left
          button.search-trigger
            i.fa.fa-search
          .form-inline
            form.search-form
              input.form-control.mr-sm-2(type="text", placeholder="Search ...", aria-label="Search")
              button.search-close(type="submit")
                i.fa.fa-close
          .dropdown.for-notification
            button.btn.btn-secondary.dropdown-toggle#notification(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
              i.fa.fa-bell
              span.count.bg-danger 3
            .dropdown-menu(aria-labelledby="notification")
              p.red You have 3 Notification
              a.dropdown-item.media(href="#")
                i.fa.fa-check
                p Server #1 overloaded.
              a.dropdown-item.media(href="#")
                i.fa.fa-info
                p Server #2 overloaded.
              a.dropdown-item.media(href="#")
                i.fa.fa-warning
                p Server #3 overloaded.
          .dropdown.for-message
            button.btn.btn-secondary.dropdown-toggle#message(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
              i.fa.fa-envelope
              span.count.bg-primary 4
            .dropdown-menu(aria-labelledby="message")
              p.red You have 4 Mails
              a.dropdown-item.media(href="#")
                span.photo.media-left
                  img(src="images/avatar/2.jpg")
                .message.media-body
                  span.name.float-left Jonathan Smith
                  span.time.float-right Just now
                  p Hello, this is an example msg
              a.dropdown-item.media(href="#")
                span.photo.media-left
                  img(alt="avatar", src="images/avatar/2.jpg")
                .message.media-body
                  span.name.float-left Jack Sanders
                  span.time.float-right 5 minutes ago
                  p Lorem ipsum dolor sit amet, consectetur
              a.dropdown-item.media(href="#")
                span.photo.media-left
                  img(alt="avatar", src="images/avatar/3.jpg")
                .message.media-body
                  span.name.float-left Cheryl Wheeler
                  span.time.float-right 10 minutes ago
                  p Hello, this is an example msg
              a.dropdown-item.media(href="#")
                span.photo.media-left
                  img(alt="avatar", src="images/avatar/4.jpg")
                .message.media-body
                  span.name.float-left Rachel Santos
                  span.time.float-right 15 minutes ago
                  p Lorem ipsum dolor sit amet, consectetur
        .user-area.dropdown.float-right
          a.dropdown-toggle.active(href="#", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
            img.user-avatar.rounded-circle(src="images/admin.jpg", alt="User Avatar")
          .user-menu.dropdown-menu
            a.nav-link(href="#")
              i.fa.fa-.user
              | My Profile
            a.nav-link(href="#")
              i.fa.fa-.user
              | Notifications 
              span.count 13
            a.nav-link(href="#")
              i.fa.fa.-cog
              | Settings
            a.nav-link(href="#")
              i.fa.fa-power.-off
              | Logout
  //  /header 
  //  Header
  .content
    .animated.fadeIn
      .row
        .col-lg-10
          .card
            .card-header
              strong Add Menu
            .card-body.card-block
              form.form-horizontal(action="#", method="post", enctype="multipart/form-data")
                .row.form-group.
                  
                  
                .row.form-group
                  .col.col-md-3
                    label.form-control-label(for="text-input") Food Title
                  .col-12.col-md-9
                    input#text-input.form-control(type="text", name="text-input", placeholder="Text")
                .row.form-group
                  .col.col-md-3
                    label.form-control-label(for="selectSm") Type
                  .col-12.col-md-9
                    select#selectSm.form-control-sm.form-control(name="selectSm")
                      option(value="0") Please select
                      option(value="1") Fasting
                      option(value="2") Normal
                      option(value="3") Drinks
                      option(value="4") Traditional
                .row.form-group
                  .col.col-md-3
                    label.form-control-label(for="textarea-input") Description
                  .col-12.col-md-9
                    textarea#textarea-input.form-control(name="textarea-input", rows="9", placeholder="Content...")
                .row.form-group
                  .col.col-md-3
                    label.form-control-label(for="text-input") Price
                  .col-12.col-md-9
                    input#text-input.form-control(type="text", name="text-input", placeholder="Text")
                .row.form-group
                  .col.col-md-3
                    label.form-control-label(for="file-input") File input
                  .col-12.col-md-9
                    input#file-input.form-control-file(type="file", name="file-input")
            .card-footer
              button.btn.btn-primary.btn-sm(type="submit")
                i.fa.fa-dot-circle-o
                |  Submit

              button.btn.btn-danger.btn-sm(type="reset")
                i.fa.fa-ban
                |  Reset

    //  .animated 
  //  .content 
  .clearfix
script(src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js")
script(src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js")
script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js")
script(src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js")
script(src="assets/js/main.js")